#!/usr/bin/make -f
#export DH_VERBOSE=1

export CMAKE_BUILD_DIR := $(CURDIR)/build
LIBCDMA_VERSION := $(shell dpkg-parsechangelog -S Version | cut -d- -f1)
ABI_VERSION := 1
%:
	dh $@ --buildsystem=cmake --builddirectory=$(CMAKE_BUILD_DIR)

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH) \
		-DPROJECT_VERSION=$(LIBCDMA_VERSION) \
		-DLIB_SOVERSION=$(ABI_VERSION)
		-DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/tmp
	cd $(CURDIR)/debian/tmp \
	&& mkdir -p usr/lib/$(DEB_HOST_MULTIARCH) \
	&& mv usr/lib64/* usr/lib/$(DEB_HOST_MULTIARCH)/ \
	&& rmdir usr/lib64 \
	&& cd usr/lib/$(DEB_HOST_MULTIARCH) \
	&& ln -sf libcdma.so.$(LIBCDMA_VERSION) libcdma.so.$(ABI_VERSION) libcdma.so
